/*setting div css*/
.standardRatio{
    width: 1920px;
    height: 1080px;
}

.bodyMargin{
margin:0px;
position:relative;
}

#mapid2{
 height: 100%;
}

.msgSendP{
color: #333333;
color: #333333;
font-family: Noto_medium;
font-size: 18px; 
display: inline-block;
line-height: 1; 
margin-left: 20px;
display:inline-block
}

.msgStatus{
  /*position: absolute;
  left: 20px;
  top: 233px;
  */
  width: 288px;
  height: 15px;
 
  font-family: Noto_regular;

  font-size: 13px;
  line-height: 20px;
  /* or 154% */
  
  display: inline-block;
  align-items: flex-end;
  
  /* main */
  margin:5px 0px 0px 5px;
  color: #2E92B0;
}

.msgDiv2{
margin-top: 10px; 
margin-bottom: 10px; 
margin-left: 7px;
}

/*msg box text area style*/
.textArea{
margin-left:5px; 
width: 395px;
height: 106px;
background: #F2F2F2;
resize: none;
border: 0px;
outline: none;
}

.msgP2{
font-size: 13px; 
color: rgba(85, 85, 85, 0.5); 
float:right; 
margin: 5px 0px 0px 0px;
width: 85px;
}

.canvasMargin1{
margin-right :5px;
margin-left :22px;
}

.setting_P img{
padding-right: 10px;
}

.hideMap{
display:none;
}

/* user setting div modal*/
.settingModal{
display: none;
position: fixed;
z-index: 1010;
padding: 3%;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.5);
}

.buttonDiv{
position :fixed; bottom:50px; right:240px; cursor: pointer;
}

.buttonDiv img{
display:inline-block;
}

.msgDiv1{
width:100%; border-radius: 3px 3px 0px 0px;background: #F4F4F4;
box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3); height: 57px;
}

.siteTitle{
font-size: 14px; color: #555555; font-family: Noto_regular;letter-spacing: -0.016em;
margin-top: 3px;
}

.settingDiv{
width: 633px;
height: 417px;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
z-index: 1011;
position: absolute;
right: 25px;
top:73px;
background: #FFFFFF;
border-radius: 3px;
}

.settingTitle{
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
border-radius: 3px 3px 0px 0px;
width: 633px;
height: 56px;
}

.settingTitle p{
font-size: 18px;
font-family: Noto_regular;
color: #333333;
position: absolute;
left: 29px;/*
top: 15px;*/
display:inline-block;
}

.settingTitle img{
display:inline-block;
cursor: pointer;
float:right;
position: absolute;
width: 13px;
height: 13px;
top: 20px;
right: 20px;
}

.settingDiv1{
display:inline-block;
width: 136px;
box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.05);
border-radius: 0px 0px 0px 2px;
height: 360px;
}

.settingDiv1 button{
width: 136px;
height: 52px;
color:#333333;
font-size: 14px;
font-family: Noto_regular;
background-color: transparent;
outline:none;
border:0px;
text-align: left;
display:inline-block;
padding-left: 30px;
cursor: pointer;
}


.activeSettingButton{
  color: #2E92B0 !important;
}

.settingDiv1 button:hover{
background-color: #F8F8F8;
border-left: 4px solid #62ABC1;
color:#2E92B0;
font-family: Noto_medium;
}

.settingDiv1 button:active, .settingDiv1 button:focus{
  color:#2E92B0;
  font-family: Noto_medium;
  }

.settingDiv2{
display:inline-block;
width: 374px;
position: absolute;
margin: 5%;
}

.settingDiv_label{
color: #333333;
font-family:Noto_regular;
font-size: 13px;
display: block;
}

.settingDiv_span{
width: 274px;
height: 30px;
background: #F8F8F8;
border: 0.2px solid #E0E0E0;
box-sizing: border-box;
border-radius: 2px;
color: #666666;
font-size: 13px;
font-family:Noto_regular;
display: block;
text-align: left;
padding-left: 15px;
margin-bottom: 4px;
line-height: 30px;
}

.settingDiv3{
display:inline-block;
position: absolute;
width: 259px;
left:490px;
top:87px;
}

.settingDiv3 span{
width: 97px;
height: 97px;
box-sizing: border-box;
border: 2px solid rgba(24, 87, 134, 0.8);
border-radius: 7px;
display: block;
vertical-align: middle;
}

.settingDiv3 img{
width: 86.61px;
height: 86.61px;
top:5px;
left:5px;
position: absolute;
}

.settingDiv3 button{
color: #FFFFFF;
width: 97px;
height: 30px;
font-family:Noto_regular;
font-size: 13px;
position: absolute;
background: #2E92B0;
border-radius: 2px;
margin-top: 20px;
border:0px;
}

.settingNotice{
color: #828282;
font-family: Noto_regular;
font-size: 13px;
display:block;
margin-bottom: 5px;
}

.settingDiv21{
/*display: none;
display: block;
position: absolute;
top: 100px;
left: 200px;*/
display:none;
width: 374px;
position: absolute;
margin: 5%;
}

.settingDiv21 div{
  position: absolute;
  top: 225px;

}

.settingDiv31{
display:none;
position: absolute;
width: 259px;
left:170px;
top:220px;
}

.settingDiv31 button{
color: #FFFFFF;
width: 97px;
height: 30px;
font-family:Noto_regular;
font-size: 13px;
position: absolute;
background: #2E92B0;
border-radius: 2px;
top: 50px;
border:0px;
cursor: pointer;
}

.stationETA{
margin-left: 44px;
background-color: aquamarine;
}

.managerLabel{
display: inline-block;
line-height: 0;
}

#screenToggleDiv {
display: inline-block;
left: 1229px;
position: absolute;
line-height: 0.2;
margin-top: 7px;
}

#screenToggleDiv p{
display: inline-block;
color: #2E92B0;
font-size: 16px;
font-family: Noto_medium;
margin-right: 10px;
}

.switch{
display: inline-block;
position: absolute;
display: inline-block;
width: 35px;
height: 20px;
margin-top: 10px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   /* background-color: #828282;*/
    background-color: rgba(151, 140, 140, 0.38);
    -webkit-transition: .4s;
    transition: .4s;
    height:14px;
    width: 34px;
    border-radius: 7px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    margin-top: -3px;
    background-color: #828282;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
  }
  
  /*.slider:after {
    opacity: 0.38;
  }*/

  input:checked + .slider {
    background-color: rgba(29, 138, 219, 0.38);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  .fa-angle-down:before {
    font-size: large;
}


  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    background-color: rgba(29, 138, 219);
    
  }
  

  
/* Rounded sliders */

.slider.round {
   border-radius: 34px;
 }
  
.slider.round:before {
  border-radius: 50%;
}

/*Leaflet map cuatom controll buttons */
.btn-success{
position: absolute;
top: 95px;
left: 150px;
}

.btn-default
{
position: absolute;
top: 100px;
left: 850px;
display: none;
}

.btn-group, .btn-group-vertical {
display:none;
}

.siteDiv1{
position: absolute;
left: 41px;
top:100px;
width: 391px;
height: 886px;
}

.marginDiv2{
margin-bottom: 13px;
margin-top: 15px;
}

.select1{
margin-top: -10px;
width:103px;
height: 30px;
position:absolute;
left :100px;
border:1px solid #BDBDBD;
}

.select1:focus, #vehicleSelect:focus, #select_site:focus, #select_siteManager:focus{
  background-color: #E6E6E6;
}

.select1 option, #vehicleSelect option, #select_site option, #select_siteManager option{
  background-color: #FFFFFF;
}

.select1:disabled, #vehicleSelect:disabled{
  background-color: #BDBDBD;
}

/*.select1:enabled, #vehicleSelect:enabled{
  background-color: #E6E6E6;
}*/

.titleSpan1{
width: 350px;
height: 28px; 
position: absolute;
background: #828282; 
border-radius: 1px; 
}

.titleSpan1 p{
font-size: 14px; 
color:#FFFFFF; 
display: inline-block;
margin-left: 10px;
line-height: 0.1;
}

.titleDiv1{
display:inline-block;
float:left; 
margin-left: 2px;
line-height: 0px;
margin-top: -5px;
position: absolute;
left: 30px;
height:60px;
}

.titleSpan1 img{
color:white; 
cursor:pointer; 
float:right; 
display: inline-block;
width:12px;
margin-right: 10px; 
margin-top: 10px;
}


.infoDiv1{
display:inline-block; 
float:right; 
margin-top: 8px; 
}

.infoDiv1 div{
display: flex; 
align-items: flex-end;
}

.infoDiv2{
display: inline-block; 
/*float:left; 
border-right: 0.5px solid #BDBDBD;*/
height:205px;
width:152px;
}

.speedDiv{
display: inline-block;margin-left: 135px; margin-top:15px;
}

.speedDiv1{
display: inline-block;width: 100px;
margin-left: -40px;
}

.vehicleDiv3 img{
margin-top:23px;
margin-bottom:23px
}
.alertButton{
background: #CA4040;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
border-radius: 2px;
color: #FFFFFF;
font-family: Noto_medium;
font-size: 14px;
width:176px;
height:28px;
text-align: center;
border: 0px;
outline: none;
/*
margin-bottom: 10px;*/
position: absolute;
top: 120px;
right:79px;
z-index:1001;
}

.batteryAlert{
background: #FFFFFF;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
border-radius: 2px;
height: 94px;
width: 176px;
align-content: center;
}

.batteryAlert span{
background: #0082C8;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
border-radius: 2px 2px 0px 0px;
width : 176px;
height: 24px;
color: #FFFFFF;
font-size: 14px;
text-align: center;
position: absolute;
line-height: 1.6;
}

.batteryAlert p{
font-weight: bold;
color: #4F4F4F;
font-size: 14px;
padding-top: 20%;
text-align: center;
}

.select2{
  vertical-align: top;
  min-width: 90px;
  height:30px;
  font-family: Noto_regular;
  font-size: 14px;
  color: #333333;
  margin-right: 20px;
}

.select3{
  vertical-align: top;
  min-width: 103px;
  height:30px;
  font-family: Noto_regular;
  font-size: 14px;
  color: #333333;
}

.batteryAlert button{
font-family: Noto_regular;
color: white;
background: #0082C8;
font-size: 14px;
width:55px;
height: 24px;
position: absolute;
text-align: center;
margin-top: -3px;
margin-left: 60px;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
border-radius: 1px;
border: 0px;
}

.batteryDiv2{
width: 185px; height: 70px; margin-left: 38px;
}

.batteryBorder{
display: inline-block;float:left; border: 1px solid #E0E0E0; width: 48px; margin-top:-10px;
}

.managerInfo1{
display:inline-block; width:170px; 
}

.managerInfo2{
display:inline-block; width:180px;
}

.numberP1{
font-family:Noto_medium; color: #000000;font-size: 14px; display: inline-block; margin-right: 10px;
}

.numberP2{
font-family:Noto_medium; font-size: 14px; color: #000000; display: inline-block; margin-right: 10px;
}

.alertDiv{
z-index: 1001;
right: 4.11%;
top:145px;
position: absolute;
background-color: transparent;
display: block;
height: 550px;
overflow-y: hidden;
}

.eventDiv{
z-index: 1001;
right: 100px;
top:120px;
position: absolute;
background-color: transparent;
display: none;
}

.eastDiv{
float:left;
height:60px;
width:10px; 
display: inline-block; 
font-size: 9px;
vertical-align: inherit; 
margin-left: 20px;
}

.eastDiv p{
color: #BDBDBD;vertical-align: middle; margin-top: 22px;font-family: Roboto_regular;
}
.rightSlider{
position: absolute;
left: 383px;
top: 727px;
background: #FFFFFF;
z-index: 1010;
cursor: pointer;
}

.leftSlider{
left: 18.24px;
top: 727px;
background: #FFFFFF;
cursor: pointer;
z-index: 1010;
position: absolute;
}

.leaflet-left .leaflet-control 
{
margin:0px;
}    

.leaflet-bar a i
{
line-height: 0;
}
.leaflet-bar a i::before{
content: url(../images/defaultIcon2.svg);
line-height: 2.4;
}

.vehicleList{
display: inline-block;
left: 138px;
position: absolute;
width: 112px;
height: 30px;
text-indent: 15px;
font-family: Roboto_regular;
font-size: 15px;
color: #333333;
}

.fullscreen{
margin-left: 10px;margin-right: 12px;
}

.oddButton{
display: inline-block;
cursor: pointer;
position: absolute;
left: 260px;
width: 77px;
height: 30px;

/* main */
border: 0.5px solid #2E92B0;
box-sizing: border-box;
border-radius: 2px;
background: url("../images/route/oddButton.svg");
}

.oddDisabled{
display: inline-block;
position: absolute;
left: 260px;
width: 77px;
height: 30px;
pointer-events: none;

/* main */
border: 0.1px solid #BDBDBD;

border-radius: 2px;
  background: url("../images/route/oddDisabled.svg") !important;
}

.oddHover{
  background: url("../images/route/odd_mouseover.svg") !important;
}

.oddButton:hover{
  background: url("../images/route/odd_mouseover.svg") !important;
}

.routeTitle{
width: 350px;
height: 91px;
backdrop-filter: blur(27.1828px);
box-shadow: 0px 1px 0px #2E92B0;
position:absolute;
left:42px;
line-height: 3.4;
}

/* Video control */
video::-webkit-media-controls-volume-slider {
display:none;
}
video::-webkit-media-controls-track-button {
display:none;
}

video::-webkit-media-controls-mute-button {
display:none;
}

.chartTitle1{
font-family : Noto_medium; color: #185786;
font-size: 16px; margin-left: 22px;  margin-top: 15px;
margin-bottom: 5px; display: inline-block;

}

.chartTitle2{
  display: inline-block;
  color: #185786;
  float:right;
  font-size: 24px;
  margin: 0px;
}

.chartTitle3{
  display: inline-block;
  color: #185786;
  float:right;
  font-size: 14px;
  margin: 0px;
  line-height: 2.4;
}

#infoChart{
  display: none; 
position: absolute;
width: 1260px;
height: 272px;    
z-index: 1000;
left: 581px;
top: 778px;
background-image: url("../images/information.svg");
}

.distanceChart1{
display: none; 
position: absolute;
width: 357px;
height: 244px;    
z-index: 1001;
left: 21px;/*
top: 840px;*/
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
border-radius: 5px;
top:14px;
}    

.passangerChart2{
display: none; position: absolute;
width: 357px;
height: 244px; z-index: 1001;
left: 400px;
top:14px;
/*top: 840px;*/
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
border-radius: 5px;
}

.scaleUnit{
color: grey;
font-size: 12px;
font-family: Roboto_regular;
margin-bottom: 5px;
margin-left: 22px;/*830px;*/
}

.scrolly{
overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
width:5px;
border-radius: 2.5px;

}

/* Track */
::-webkit-scrollbar-track {
background: #C4C4C4;/* #ffffff;*/ 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #C4C4C4; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}


/*image window popup style*/

.pull-right{float:right}
.main_popup{width:350px; height:430px; border:3px solid #3E4156;background-color: white;}
.popup_bottom{
background-color: #3E4156;
color: white;
height: 25px;
padding: 2px 10px 3px 10px;
width:330px;
}

.imgStyle{
 height :600px;
 width:490px;
}

/*sejeong layer */
.subMenu{
width: 434px;
height: 120px;
background: #0893BF;
border-radius: 0px 5px 5px 0px;
display: none;/*
left: 122px;*/
top: 120px;
position: absolute;
z-index: 1011;
}

.subMenu button{
color: #FFFFFF;
font-family: noto_medium;
font-size: 18px;
display: flex;
align-items: center;
letter-spacing: 0.1em;
margin: 0px 0px 0px 0px;
background-color: transparent;
outline: none;
width: 434px;
height: 60px;
border: 0px;
padding-left: 25px;
}

/* Custom popup 3 */
.custom-popup3 .leaflet-popup-content-wrapper {
background: #FFFFFF;
color: black;
width: 170px;
height: 120px;
padding: 0px;
}

.custom-popup3 .leaflet-popup-close-button {
display: none
}

/*.custom-popup3 .leaflet-popup-content-wrapper p {
margin: 0px;
padding-left: 28%;
padding-top: 3px;
font-size: 14px;
text-align: center;
}*/

.custom-popup3 .leaflet-popup-content {
margin: 0px;
padding: 0px;
}

.custom-popup3 .leaflet-popup-content p{
/*margin: 0px;
padding: 3px;*/
margin: 8px 0;
}

.garagePopup2{
text-align:'center'; 
height:120px;
width:170px;
border-radius: 2px 2px 0px 0px;
color:white;
align-content: center;
background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.garageDiv1{
width: 170px;
height: 37px;
background: #BDBDBD;
border-radius: 2px 2px 0px 0px;
}

.garagePopup2div{
width :50%;
display:inline-block;
height: 50px;
}

.garageP1{
text-align: center; 
color: #888888; 
font-size: 14px; 
font-family: noto_medium;
}

.garageMargin1{

margin-top: 5px;
}

.garageP2{
text-align: center; 
color: #333333; 
font-size: 18px; 
font-family: noto_medium;
}

.garageP3{
color: #2E92B0; 
}

.garageTitle{
text-align: center; 
color: #ffffff; 
font-size: 20px; 
font-family: Roboto_medium;
float: left;
/*margin: 15px 0px 15px 5px;*/
padding-left: 5px;
}

.garageDoor_black{
text-align: center; 
color: #333333; 
font-size: 13px; 
font-family: noto_medium;
float:right;
padding: 3px 8px 0px 0px;
}

.garageDoor_red{
text-align: center; 
color: #CA4040;
font-size: 13px; 
font-family: noto_medium;
float:right;
padding: 3px 8px 0px 0px;
}

.subMenuModal {
display: none;
position: fixed;
z-index: 1011;
/*padding: 3%;*/
left: 148px;
top: 90px;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.7);
}

/* Emergency contact button */
.emergency{
width: 153px;
height: 34px;
color: #CA4040;
border-color: #CA4040;
font-size: 14px;
font-family: noto_medium;
border: 0.5px solid #CA4040;
background-color: transparent;
padding: 0px 0px 0px 3px;
cursor: pointer;
}

.emergency:hover{
  color: white !important;
  background-color: #CA4040 !important;


}

.contactModal{
display: none;
position: absolute;
z-index: 1011;
top:90px;
left:0px;
align-self: center;
width: 1920px;
height: 990px;
overflow: auto;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.9);    
}
.contactDiv1
{
    position:absolute; left: 200px; top:60px
}

.contactDiv1 div{
    height: 57px;background: #F4F4F4; border-radius: 3px 3px 0px 0px; width: 1482px;
}

.contactDiv1 p{
    font-family:noto_medium;font-size: 18px; color: #333333;padding: 0px 0px 0px 15px; display:inline-block;line-height: 1; 
}

.contactImg1{
    float:right; padding: 15px 15px 0px 0px;cursor: pointer;
}

.contactImg2{
    width: 1482px;height: 733px;
}
/*
.buttonHover:hover 
{
  background: #93C3D1;
  color: #333333;
  cursor: pointer;
}*/

/* Sejong sub menu */

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sejongHover1:hover
{
    background: #93C3D1 !important;
    color: #333333 !important;
    border:0px !important;
    border-radius: 0px 5px 0px 0px !important;
    cursor: pointer !important;
}

.sejongHover2:hover
{
    background: #93C3D1 !important;
    color: #333333 !important;
    border:0px !important;
    border-radius: 0px 0px 5px 0px !important;
    cursor: pointer !important;
}

.siteSummary b, .siteSummary{
  font-family: Noto_regular;
  font-size: 14px;
}

/* circle ripple */
/* Circle */
.circle2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color:#999999;
   position: fixed;
  top: 0%;
  left: 0%;
  transform: translate(-70%, -100%);
  margin-bottom: -300px;
}


.circle2:after {
  content: '';
  display: block;
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  border: 1px solid #999999;
  border-radius: 50%;
}

.imeModeDisabled{
ime-mode:disabled;
}


.circle2:after {
  animation: ripple 1s linear 0.5s infinite;
}

@keyframes ripple{
  0% { transform: scale(1);  opacity:0.1;}
  50% { transform: scale(1.3); opacity:1; }
  100% { transform: scale(1.6); opacity:0; }
}
